.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.searchInput {
  margin: 1rem;
}

.button {
  padding: 1rem;
}

.buttonNext {
  align-self: flex-end;
}

.groupButton {
  display: flex;
  justify-content: space-between;
}
